

footer{
    background-color: #3e64ff;
    color: white;
    display: flex;
    align-items: center;
    height: 250px;
    padding: 4rem;
    margin: 0%;
    box-sizing: border-box;
}
/*.footcontent1{
    flex: 1;
}
.footcontent2{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}*/
/*
.connectheader{
    flex: 1;
}
.footerul{
    flex: 1;
}
.footerlist{
    text-decoration-style: none;
}

*/


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #3e64ff;
  display: flex;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  margin-top: 8px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.w3-container button{
    flex: 1;
    align-self: center;
    margin-top: 10px; 
    color: white;
    background-color: #3e64ff;

}


.w3-container .button:hover{
    background-color: rgb(74, 14, 131);
    color: white;
}

.topnav a:hover .dropdown:hover{
background-color: rgb(74, 14, 131);
  color: white;
}


.topnav .search-container {
  float: right;
}

.topnav .logoutBT {
  float: right;
}


.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid black;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
.dropdown {
    flex: 1;
    size: 64px 80px;
   align-self: auto;
   overflow: hidden;
  
  
}


/* Dropdown button */

.dropdown .dropbtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: white;
   padding: 20px 20px;
   background-color: inherit;
   font-family: inherit;
   /* Important for vertical align on mobile phones */
   margin: 0;
   /* Important for vertical align on mobile phones */
}


/* Add a red background color to navbar links on hover */

.dropbtn:hover {
   background-color: rgb(74, 14, 131);
   
}


/* Dropdown content (hidden by default) */

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
   
}


/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
   background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
   display: block;
}

/* Full-width input fields */
.w3-container input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
 .w3-container button {
    background-color: #3e64ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0; 
    border: none;
    cursor: pointer;
  width: 100%;
}

 button:hover {
  opacity: 0.8;
  background-color: rgb(74, 14, 131);
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.section{
  display: flex;
}

.card {
  flex: 1;
  width: 20rem;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20rem;
  border: 0.4px solid lightseagreen;
  flex-basis: 35%;
  background: #d0f2f3;
  padding: 1rem;
  border-radius: 1.5rem;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 1rem 1rem 1rem grey;
}


@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid black;  
  }
}
