*{
    margin:0;
    padding:0;
    font-family: 'Comic Sans MS', arial;
   
}
.hero{
    display: flex;
    justify-content: space-around;
    margin: 0 3rem 5px 0;
    height:80vh;
    }
.heroinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    border-left: 1px solid #5e89ff;

}
 .hero p{
    color: #3a2c6d;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
} 
.heroimg img{
    border-radius: 1rem;
    align-self: flex-start
}